/* Pagina completa */
* { 
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
header {
    background-color: #071E62;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 8em;
}

.header-items {
    margin-right: 30px;
} .header-items:hover {
    color: #0DA1CF;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

img {
    width: 15em;
}

/* Productos */
.main-section-article-productos {
    background-color: #0DA1CF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.main-section-article-productos-contenido {
    margin-left: 20%;
    margin-bottom: 2%;
}

.main-section-article-productos-boton-visitar {
    background-color: #071E62;
    border-radius: 20px;
    padding: 10px 30px;
} .main-section-article-productos-boton-visitar:hover {
    background-color: white;
    color: #071E62; 
}

.main-section-article-productos-imagen-gato {
    margin-right: 20%;
}
